
  <body>
    <div>
    <header>
      <a href="index.html" id="logo">
        <h1>Steven Kinnamon</h1>
        <h2>Violinist</h2>
      </a>
    </header>
    <div id="wrapper">
      <section id="primary">
        <h3>General Information</h3>
        <p>As a violinist, I am used to performing in a wide array of settings. I've played for private dinners, church services, christmas parties, and most frequently, as a wedding musician. I am also very experienced in orchestral and small ensemble work. I play as a soloist, or with a group ranging from just two people, to much larger. Whatever your needs are, I am open to accomodating you.</p>
        <p>If you have any quesitons, please don't hesitate to call, send a text message, or shoot me an e-mail.</p>
      </section>
      <section id="secondary">
        <h3>Contact Details</h3>
        <ul class="contact-info">
          <li class="phone"><a href="tel:502-751-9761">502-751-9761</a></li>
          <li class="mail"><a href="mailto:swaffleman@hotmail.com">swaffleman@hotmail.com</a></li>
          <li>Additionally, if you'ld like to add your e-mail to my client list, then you may submit your name and e-mail below:</li>
					<form  action="/new" method="POST">
						<label for="email">Email: </label>
						<input type="email" name="email"/><br>
						<label for="name">Name: </label>
						<input type="text" name="name" /><br>
						<input type="submit" />
					
						 
         </form>
        </ul>
      </section>
      <footer>
        <p>&copy; 2016 Steven Kinnamon.</p>
      </footer>
    </div>
		</div>
      
  </body>
