
  <body>
    <div>
    <header>
      <a href="index.html" id="logo">
        <h1>Steven Kinnamon</h1>
        <h2>Violinist</h2>
      </a>
    </header>
    <div id="wrapper">
      <section>
        <img src="img/fiddle.jpg" alt="Photograph of Steven Kinnamon" class="profile-photo">
        <h3>Home/about</h3>
        <div><p>     Hello. Welcome to my website! My name is Steven Kinnamon. I'm a classical musician based in Louisville, KY. This website is for you to see my playing and what I'm about, and if you'd like, to contact and book me for your event! </p>
        <p>     I have humble beginnings. I began violin at age 11, in the 5th grade at St. Matthews elementary. I eventually got lessons in the 10th grade, and I joined the Louisville Youth Orchestra. Eventually, I went to UofL and obtained two degrees while there, under the study of J. Patrick Rafferty. Now, while I don't play full time, I am a professional orchestral and freelance musician. I am a member of the Owensboro and Paducah Symphony Orchestras, as well as a frequent sub for The Huntsville Symphony and the Evansville Philharmonic. </p>
        <p>     When I am not playing music, I am exercising at Louisville's beautiful Cherokee park, studying web development, or working at the home health company Almost Family, where I work in accounts recievable. I do sometimes frequent Kentucky Kingdom and the Zoo, as well!</p>
          </div>
      </section>
      <footer>
        <p>&copy; 2016 Steven Kinnamon.</p>
      </footer>
    </div>
      </div>
  </body>
