
      
        
     <h1 style="text-align:center">(clicking on each picture will bring up a larger version in a new tab)</h1>      
    
    <div id="wrapper">
      <section>
        <ul id="gallery">
          <li>
            <a href="img/image1.jpg" target="_blank">
              <img src="img/image1.jpg" alt="">
              <p>My professional headshot!</p>
            </a>
          </li>
          <li>
            <a href="img/image2.jpg" target="_blank">
              <img src="img/image2.jpg" alt="">
              <p>Performing in the Paducah Symphony with the reknowned Glenn Dicterow.</p>
            </a>
          </li>
          <li>
            <a href="img/image3.jpg" target="_blank">
              <img src="img/image3.jpg" alt="">
              <p>Performing as a soloist.</p>
            </a>
          </li>
          <li>
            <a href="img/image5.jpg" target="_blank">
              <img src="img/image5.jpg" alt="">
              <p>Atmospheric photo taken at a wedding.</p>
            </a>
          </li>
          <li>
            <a href="img/image4.jpg" target="_blank">
              <img src="img/image4.jpg" alt="">
              <p>I was principal second violinist of the UofL Symphony for two years!</p>
            </a>
          </li>
        </ul>
      </section>
      <footer>
        <p>&copy; 2016 Steven Kinnamon.</p>
      </footer>
    </div>
    
       
      
      