<body>
	<h1 id = "videoP"> Here, you can view some videos of my playing so that you know who you're dealing with. I can play classical, fiddle, and everything in between. </h1>
	<p>
		<div style="margin: 0px auto; text-align: center">	
			<ul>
          <li class = "video-container">
            			<iframe class="video" width="420" height="315" src="https://www.youtube.com/embed/vIdBlaXHih0" frameborder="0" allowfullscreen></iframe>

          </li>
          <li class = "video-container">
            			<iframe width="420" height="315" src="https://www.youtube.com/embed/VDdo6vI1IhY" frameborder="0" allowfullscreen></iframe>

          </li>
          <li class = "video-container">
            			<iframe width="420" height="315" src="https://www.youtube.com/embed/4SIwIZPiVN0" frameborder="0" allowfullscreen></iframe>

          </li>
          <li class = "video-container">
            		  <iframe width="420" height="315" src="https://www.youtube.com/embed/HBvV2fxBIZQ" frameborder="0" allowfullscreen></iframe>

          </li>
          <li class = "video-container">
            		  <iframe width="560" height="315" src="https://www.youtube.com/embed/oznVzHUm-bQ" frameborder="0" allowfullscreen></iframe>

          </li>
        </ul>
	  </div>	
	
  </body>


