
  <body>
    <div class="animsition">
    <header>
      <a href="index.html" id="logo">
        <h1>Steven Kinnamon</h1>
        <h2>Violinist</h2>
      </a>
    </header>
    <div id="wrapper">
      <section>
        <ul id="gallery">
          <li>
            <a href="img/fiddle.jpg">
              <img src="img/fiddle.jpg" alt="">
              <p>My professional headshot!</p>
            </a>
          </li>
          <li>
            <a href="img/Paducah%20Dicterow.jpg">
              <img src="img/Paducah%20Dicterow.jpg" alt="">
              <p>Performing in the Paducah Symphony with the reknowned Glenn Dicterow.</p>
            </a>
          </li>
          <li>
            <a href="img/225596_803456005944_38313707_39230144_3515285_n.jpg">
              <img src="img/225596_803456005944_38313707_39230144_3515285_n.jpg" alt="">
              <p>Performing as a soloist.</p>
            </a>
          </li>
          <li>
            <a href="img/307373_908066340994_38303123_40264642_827192417_n.jpg">
              <img src="img/307373_908066340994_38303123_40264642_827192417_n.jpg" alt="">
              <p>Atmospheric photo taken at a wedding.</p>
            </a>
          </li>
          <li>
            <a href="img/302122_902448474244_38308875_40213684_261371560_n.jpg">
              <img src="img/302122_902448474244_38308875_40213684_261371560_n.jpg" alt="">
              <p>I was principal second violinist of the UofL Symphony for two years!</p>
            </a>
          </li>
        </ul>
      </section>
      <footer>
        <p>&copy; 2016 Steven.</p>
      </footer>
    </div>
      </div>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
      <script src="Animsition/js/animsition.min.js"></script>
      <script src= "Animsition/js/main.js"></script>
  </body>
